
main {

	max-width: 100%;
  padding: 20px 20px;
}
:root {
  --primary: #e9e0e8;
  --secondary: #F3A847;
  --tertiary: #B12704;
  --light: #fafafa;
  --dark: #000000;
  --darker: #111111;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  background-image: url('./assets/cover/bg2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--dark);
  font-family: 'Cardo', serif;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cardo', serif;;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
  font-family:'Rampart One', cursive;
  font-size: 80px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.1rem;
  margin-top: 0;
}

a {
 
  text-decoration: none;
  
}


button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
}

button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
}

img {
  border: 2px solid rgb(51, 161, 156);
  border-radius: 4px;
  padding: 5px;

}



span[role="img"] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

li {
  list-style: none;
  color: white;
}

nav li:hover {
  text-decoration: underline;
  color:black
}

nav  li {
  cursor: pointer;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: #d39596;
  bottom: 0;
  position:fixed;
  left: 0;
  width: 100%;
}

.wrapper{
  display: flex;
flex-wrap: wrap;
width: 100%;
}
.container {
  width: 50%;

}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}


.card {
  width: 25%;
  text-align: center;
}



button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

a {
	border-radius: 5px;
	color: var(--primary);
	font-weight: 600;
	padding: 2px 4px;
	margin-left: -2px;
	margin-right: -2px;
	
}

.navActive {
  color: var(--secondary);
}